<html>
    <head>
        <title>
            Login
        </title>
        
        <script>
           
        </script>
    </head>
    <body>
        <h1>Welcome User</h1>
        <p>Name : <%= name %> </p>
        
        <%items.forEach(function(item){%>
            <li> <%=item%> </li>
        <%})%>
    
    </body>
</html>